
:root {
  --text-color: #606266;
  --border-color: #d2d4d7;
  --active-color: #f2f3f5;
  --background-color: #edeef0;
  --background-color-light: #fafafa;

  --el-brand: #409EFF;
  --el-success:#67C23A;
  --el-warning:#E6A23C;
  --el-danger:#F56C6C;
  --el-info: rgb(144, 147, 153);


  --text-main: #303133;
  --text-standard: #606266;
  --text-sub: #909399;
  --text-sub-light: #C0C4CC;



  --custome-padding: 5px;
}


